@import url('https://fonts.googleapis.com/css2?family=Abel&family=Ephesis&display=swap');

body{
    background-color: #F2D4C2;
    margin:0rem;
}
.contenedor{
    display:grid;
    grid-template-columns: 0.625rem 1fr 1fr 1fr;
    grid-template-rows: 15.625rem 63.4375rem 3.75rem 28.125rem 6.25rem 50rem;
    grid-template-areas: 
    
    "titulo titulo titulo titulo"
    ". quienes quienes quienes"
    ". extra extra extra"
    ". ubi ubi ubi"
    ". tit tit tit"
    ". . formu .";

    background: url(img/estetica/masaje.jpg) no-repeat;
    background-size: contain;
    background-color: #F2D4C2;
}
#menu{
    margin: 0.625rem;
    position: absolute;
    z-index: 10;
}

.boton{
    margin:0rem 1em;
    align-self: center;
}
#tit{
    margin: 3.125rem;
    grid-area: tit;
    text-align: center;
}

.menuitem{
    margin: 0rem 1em;
    color:white;
    background-color: #F2AB91;
    padding: 0.625rem;
}

.titulo{
    color: #F2AB91;
    -webkit-text-stroke: 0.125rem black;
    text-shadow: white;
    grid-area:titulo;
    text-align: center;
    font-family: 'Ephesis', cursive;
    font-size: 12.5rem;
}
.menu{
    grid-area:menu;
    padding:0.625rem;
    position: fixed;
    text-align: center;
}
.quienes{
    grid-area:quienes;
    padding: 9.375rem;
    text-align: center;
    color: black;
    font-size: 0.9375rem;
    transition: all 2s;
    transition-delay: none;
    font-style: oblique;
    text-shadow: 0.125rem 0.125rem 0.625rem white;
    border-bottom:0.0625rem black solid;
}
.extra{
    grid-area: extra;
    text-align: center;
    background-color: #F2D4C2;
}

.contacto{
    grid-area: ubi;
    padding: 1.25rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
iframe{
    border: 0.125rem black solid;
}
.formularios{
    grid-area:formu;
    border:0.0625rem black solid;
    padding: 0.625rem;
}
.footer{
    grid-area: footer;
    display:flex;
    justify-content:flex-start;
    flex-direction: row;
    align-items: center;
    height: 5rem;

    background-color: #F2AB91;
    border: 0.0625rem black solid;
}
#icon{
    font-size: 1.875rem;
    padding: 0.9375rem;
    color: black;
}
.quienes:hover{
    font-size: 1.875rem;
}
a{
    color:black;
    text-shadow: 0.125rem 0.125rem 0.625rem white;
}

.boton{
    align-items: center;
}