body{
    background-color:  #bee3ed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0px;
}
.contenedor{
    display: grid;
    grid-template-columns: 300px 400px 400px 400px;
    grid-template-rows: 300px;

    grid-template-areas: 
    "parallax parallax parallax parallax parallax"
    "parallax parallax parallax parallax parallax"
    ". descripcion descripcion descripcion ."
    ". foto1 desc1 desc1 ."
    ". desc2 desc2 foto2 ."
    ". titulo titulo titulo ."
    ". discografia discografia discografia ."
    ". discografia discografia discografia ."
    ". discografia discografia discografia ."
    ". conci conci conci . "
    ". conciertos conciertos conciertos ."
    ". conciertos conciertos conciertos ."
    "footer footer footer footer footer"
    "footer footer footer footer footer";

}
#menu{
    margin: 10px;
    position: absolute;
    z-index: 10;
}
.menuitem{
    margin: 0px 1em;
    color:black;
    border:1px black solid;
    background-color:  #bee3ed;
    padding: 10px;
}
.titulo{
    grid-area:titulo;
    text-align: center;
}
#header{
    width: 100%;
    height: 1278px;

}
#parallax{
    height: 500px;
    object-fit: cover;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #AFADDE;
    grid-area: parallax;
    background: url(img/header.jpg) no-repeat top center;
    background-size: cover;
}
#descripcion{
    grid-area: descripcion;
    padding: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
#foto{
    min-width: 300px;
    max-width: 400px;
    height: 505px;
    grid-area: foto1;
    justify-content: center;
}
#desc{
    padding: 50px;
    grid-area: desc1;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#foto2{
    grid-area: foto2;
}
#desc2{
    padding: 50px;
    grid-area: desc2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Flexbox dentro de Grid*/
.discografia{
    padding: 30px;
    height: 1200px;
    grid-area: discografia;
      
}

#TOP,#RAB,#vessel,#trench,#blurryface,#SAI{
    width: 300px;
    height: 300px;
}

#conciertos{
    grid-area: conciertos;
    height: 500px;
    background: url(img/conciertos.jpg) no-repeat center center;
    background-size: cover;
    opacity: 90%;
    text-align: center;
    padding: 50px;
    color: #bee3ed;
    font-weight:bolder;
}
a{
    color: whitesmoke;
    font-weight:bolder;

}
.conci{
    grid-area: conci;
    text-align: center;
}
.footer{
    grid-area: footer;
    display:flex;
    justify-content:flex-start;
    flex-direction: row;
    height: 50px;
    padding: 10px;
}
#icon{
    font-size: 30px;
    padding: 15px;
}
#foto, #foto2{
    min-width: 300px;
    max-width: 400px;
    width: 100%;
    height: 100%;
}
  
/*TRANSICION */
#trans_top{
    text-align: center;
}
#trans_rab{
    text-align: center;
}
#trans_vessel{
    text-align: center;
}
#trans_blurry{
    text-align: center;
}
#trans_trench{
    text-align: center;
}
#trans_sai{
    text-align: center;
}

#TOP:hover #trans_top{
    margin-top: 30%;
    transition: all 1s;
}

#RAB:hover #trans_rab{
    margin-top: 30%;
    transition: all 1s;
}

#vessel:hover #trans_vessel{
    margin-top: 30%;
    transition: all 1s;
}

#trench:hover #trans_trench{
    margin-top: 30%;
    transition: all 1s;
}

#blurryface:hover #trans_blurry{
    margin-top: 30%;
    transition: all 1s;
}


    
    
    

